
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #262626;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.5em;
  margin-left: 1.75em;
  margin-bottom: 0.4em;
  margin-top: 40vh;
  color:#5C9EAD;
}

h3 {
  color: #fff;
  text-align: center;
}

#choose-category h3 {
  color:#fff;
  margin-left: 10vw;
}

input {
  margin-bottom: 1em;
}



.pieces {
  background-color: #fff;
  font-size: 2rem;
  height: 25vh;
  border: 1px solid #000;
  padding-top: 3em;
}

.pieces:hover {
  background-color: #000;
  color:#fff;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
