
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #262626;
}

footer {
  color: #fff;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.5em;
  margin-left: 1.75em;
  margin-bottom: 0.4em;
  margin-top: 10vh;
  color:#5C9EAD;
}

h3,h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 0.5em;
}

#choose-category h3 {
  color:#fff;
  margin-left: 10vw;
}

footer {
  font-size: 2rem;
}

.progress-bar {
  background-color: #5C9EAD;
}

#player-score {
  text-align: center;
}

#board {
  margin-bottom: 1em;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

input {
  margin-bottom: 1em;
}

p {
  color: #fff;
}

.answers {
  display: block;
}

.progress {
  padding: 0;
  margin-bottom: 1em;
}


.pieces {
  background-color: #fff;
  font-size: 2rem;
  height: 25vh;
  border: 1px solid #000;
  padding-top: 2em;
}

.done {
  background-color: #5C9EAD !important;
  color:#fff !important;
  font-size: 2rem;
  height: 25vh;
  border: 1px solid #000;
  padding-top: 1.5em;
}

#background-music {
  display: none;
}

/*.pieces:hover {
  background-color: #000;
  color:#fff;
}*/

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
